<div class="event new-event">
  <div class="title"><a href="#">¿Organizas un evento?</a></div>
  <div class="date">xx.xx.xx</div>
  <div class="summary">Si organizas un <strong>evento</strong>, taller, charla o quedada informal para fomentar una comunidad o compartir información de base <strong>tecnológica</strong>. Si es un evento <strong>gratuito</strong> o de pago para cubrir costes. Si ocurre en Valencia o Castellón. Si quieres formar parte de <strong>VlcTechHub</strong> da de alta tu evento.</div>
  <div class="add-event">
  {{#link-to 'events.new' classNames="pure-button button-primary"}}Añadir evento {{/link-to}}
  </div>
</div>
