/*body:after {
    content: "base";
    font-size: 200%;
    font-weight: bold;
    position: fixed;
    bottom: 60px;
    width: 100%;
    text-align: center;
    background-color: hsla(1,60%,40%,0.7);
    color: #fff;
}
*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {

	.event{ width:80%;}
	h2 { font-size: 2em; }
	.event .title { font-size: 1.2em; }
/*	body:after{
		content: 'Smartphones (portrait and landscape)'
	}
*/
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
	.event{ width:85%;}
	h2 { font-size: 2.2em; margin-top: 20px; margin-bottom: 20px;}
	.event .title { font-size: 1.2em; }
	body > .title img { width:70%; }
/*	body:after{
		content: 'min-width : 321px'
	}*/
}


@media only screen 
and (min-width : 700px) {
	.event{ width:40%;}
	h2 { font-size: 3em; }
	.event .title { font-size: 1.2em; }
	body > .title img { width:500px; }
	/*body:after{
		content: 'min-width : 700px'
	}*/
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	.event{ width:80%;}
	h2 { font-size: 2.2em; margin-top: 20px; margin-bottom: 20px;}
	.event .title { font-size: 1.2em; }
	body > .title img { width:70%; }
	/*body:after{
		content: 'max-width : 320px'
	}*/
}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
 .event{ width:27%;}
  h2 { font-size: 3em; }
  .event .title { font-size: 1.5em; }

 /*body:after { content: 'laptops'};*/

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
 .event{ width:27%;}
  h2 { font-size: 3em; }
  .event .title { font-size: 1.5em; }
   /*body:after { content: 'large screens'};*/
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

