body{
	background: #ececec url('/img/bg.png');
}

::-moz-selection {
    background: #DBE230;
}

::selection {
    background: #DBE230;
}

.main {
    margin-top: 200px;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 1140px;
    margin-bottom: 50px;
    line-height: 1.6em;
}


.event .title, .event .date {
    font-family: 'Ubuntu Mono', sans-serif
}

#events .event { margin: 20px }
.event{ background-color: whitesmoke;  padding:30px; box-shadow: 0 0 10px 0px #ccc}
.event .date{  color: #7F7F2B;  padding: 5px 0px 20px 0px; font-size: 1.2em}
.event .title {  padding: 20px 0px 10px 0px; width: 100%; }
.event .title a{ color:  black; font-size:1.5em; text-decoration:none; text-transform: uppercase;  width: 100%;}
.event .summary { font: normal 16px/22px Arial, Helvetica, Garuda, sans-serif;  margin-top: 5px; }
.event .summary p.fade { overflow: hidden; max-height: 400px;
                         background: -webkit-linear-gradient(#333,#333,  transparent);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
   }
.event .summary p:after { content:' \0700'; }

.event .more { margin-top: 2em; }

.new-event { background-color: transparent; box-shadow: inherit; border: 4px dashed #474838; }
.new-event .date { visibility: hidden;}

.event .further-info { text-align: right; }
.event .further-info a{background-color: #474838;  color: #DBE230; padding: 2px 4px; text-decoration: none; font-size: 1.2em; }
.event .further-info a:hover { background-color: #DBE230;  color: #474838; }

.new-event .add-event { text-align: center; margin-top: 2em; }


.note {
background: #1f8dd6;
padding: 0.3em 1em;
border-radius: 3px;
color: #fff;
width: 100%;
}
.caret {
    border-left: 4px solid black;
    margin-left: 15px;
}



.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: step-start;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

h2,h3 {
 	/*font-family: 'fzm_embossed_labelregular'*/
    font-family: 'Ubuntu Mono', sans-serif;
    font-weight: normal;
    font-size: 3.5em;
}

h3:before{
    content: ">";
    padding-left: 5px;
    padding-right: 15px;
}

form.event label {
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 16px;
    margin-top: 16px;
}

.pure-menu-heading img {
    height: 74px;
    width:160px;
    margin: 10px 0px 10px 0px;
}

.pure-menu a.active{
     color: #000;
}

.pure-button-primary {
    background-color: #0E90D2;
}

 .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: #5EB95E;     /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: #FAD232; /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
.callout {
    margin: 20px 0;
padding: 20px;
border-left: 3px solid #eee;
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.callout-error h4{
    color: #d9534f;
}

.callout-error {
    background-color: #fdf7f7;
    border-color: #d9534f;
}

.callout-success h4{
    color: #5EB95E;
}

.callout-success {
    background-color: #F7FBF7;
    border-color: #5EB95E;
}
