html {
    position: relative;
    min-height: 100%;
}

body{
	background: #ececec url('http://castirondesign.com/images/bg.png');
    margin: 0 0 100px; /* bottom = footer height */
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;

}

.logo {
	display:block;
	margin:0 auto;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.event-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: 'fzm_embossed_label_lightRg'
}

.event-list li{
	margin-bottom: 1.5em;
}

.event li{
	display: table;
}

.event .date{
	background-color: #FFDE03;  color: #474838;  padding: 8px 0px 4px 4px; width: 110px; text-align: center;
	height: 20px;
	font: normal 14px/19px Arial, Helvetica, Garuda, sans-serif;
}

.event .date {
    position: relative;
    float: left;
    clear: left;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
 }


.event-details {

padding: 2em;
	    /*font-family: 'Lato', sans-serif;*/

font-size: 17px;
font-weight: normal;
line-height: 26px;

}

.event-details strong {
		font-weight: bold;
		font-size: 1.2em;
		font-family: 'Lato', sans-serif;
	text-transform: uppercase;

}



.selected .event .title span {
	background-color: #FFDE03;
}



#menu, footer {
	background-color: #282320;
	color:#868677;
}

#menu li.pure-menu-selected a {
	color: #FFD303;
}

.l-box {
	padding:1em 0em 1em 2em;
}

.l-box-right {
	padding:1em 2em 1em 0;
}

h2 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}

.pure-menu li a:hover, .pure-menu li a:focus {
    color:white;
    background: 0;

}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) { 

    .event li {
        display: auto;
        /*margin-bottom: 0em;*/
    }

    .event date {
        float: none;
    }

   

}

@font-face {
    font-family: 'fzm_embossed_labelregular';
    src: url('../font/fzm-embossed.label-webfont.eot');
    src: url('../font/fzm-embossed.label-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/fzm-embossed.label-webfont.woff') format('woff'),
         url('../font/fzm-embossed.label-webfont.ttf') format('truetype'),
         url('../font/fzm-embossed.label-webfont.svg#fzm_embossed_labelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'fzm_embossed_label_lightRg';
    src: url('../font/fzm-embossed.label.light-webfont.eot');
    src: url('../font/fzm-embossed.label.light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/fzm-embossed.label.light-webfont.woff') format('woff'),
         url('../font/fzm-embossed.label.light-webfont.ttf') format('truetype'),
         url('../font/fzm-embossed.label.light-webfont.svg#fzm_embossed_label_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fzm_embossed_text_lightRg';
    src: url('../font/fzm-embossed.text.light-webfont.eot');
    src: url('../font/fzm-embossed.text.light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/fzm-embossed.text.light-webfont.woff') format('woff'),
         url('../font/fzm-embossed.text.light-webfont.ttf') format('truetype'),
         url('../font/fzm-embossed.text.light-webfont.svg#fzm_embossed_text_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
