.error-container {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.e404 {
  font-weight: 900;
  font-size: 8rem;
}

.complement {
  font-size: 1.1rem;
}

@include size-medium {
  .error-container {
    padding: 2rem;
  }

  .e404 {
    font-size: 10rem;
  }

  .complement {
    font-size: 1.2rem;
  }
}

@include size-large {
  .error-container {
    padding: 2rem 4rem;
  }

  .e404 {
    font-size: 13rem;
  }

  .complement {
    font-size: 1.5rem;
  }
}
