.page-faq {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: $space-large;
      padding-bottom: $space-medium;
      border-bottom: 2px solid black;
    }

    li:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}
