#job-board {
  > header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column-reverse;

    @include size-medium {
      flex-direction: row;
    }

    .button {
      margin: 4rem 0 1.5rem 0;
      @include size-medium {
        margin: 0;
      }
    }
  }

  .job-detail {
    padding-bottom: $space-large;
    margin-bottom: $space-medium;
    border-bottom: 3px solid black;

    header p {
      font-size: 0.9rem;
    }
    header a {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.1rem;
    }

    .freshness {
      font-size: 0.7rem;
      color: $text-color-secondary;
      text-align: right;
    }

    .tags {
      margin-top: $space-medium;
    }
  }

  .job-detail:last-child {
    border-bottom: none;
    margin-bottom: none;
  }
}
