html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $text-color;
  text-decoration: none;

  @include on-event {
    text-decoration: none;
  }
}

p a,
h1 a {
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(60%),
    rgb(255, 213, 0) calc(60%),
    rgb(255, 213, 0) 100%
  );
  transition: padding 120ms ease-in-out;

  &:hover {
    background-image: linear-gradient(transparent 0%, #ffd500 0%, #ffd500 100%);
    padding: 2px 0 4px 0;
  }
}

span.rss-link,
span.rss-text {
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(60%),
    rgb(255, 213, 0) calc(60%),
    rgb(255, 213, 0) 100%
  );
  transition: padding 120ms ease-in-out;
}

ul {
  margin: 0;
  list-style: square;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 73rem; /* 1 */
  margin: 0 auto; /* 2 */
  padding: 0 $space-large; /* 3 */
  width: 100%; /* 1 */

  @include size-large {
    padding: 0 $space-medium;
  }
}
