.main-header {
  display: flex;
  padding: $space-medium $space-large $space-medium $space-large;
  align-items: center;

  .logo img {
    max-width: 50%;

    @include size-medium {
      max-width: 120px;
    }
  }

  ul {
    display: none;
  }

  @include size-medium {
    ul {
      display: block;
    }

    ul,
    ul li {
      margin:0;
      padding: 0;
      text-indent: 0;
      list-style: none;
    }

    nav ul li {
      display: inline;
      margin-left: $space-large;
      padding: $space-small;
      text-transform: uppercase;
      font-weight: bold;

      @include on-event {
        border-bottom: 8px solid whitesmoke;
        a {
          color: $brand-color;
        }
      }

      &.current:hover a {
        color: $text-color;
      }

      &.current {
        border-bottom: 8px solid $brand-color;
      }
    }

    .social-links {
      margin-left: auto;

      li {
        display: inline;
      }
    }
  }
}
