.main-header {
  display: flex;
  padding: $space-medium $space-large $space-medium $space-large;
  align-items: center;

  .logo img {
    width: 33vw;
    height: auto;

    @include size-medium {
      width: 120px;
      height: 55px;
    }
  }

  ul {
    display: none;
  }

  .site-nav {
    position: absolute;
    top: 1.25rem;
    right: 2.5rem;
    background-color: $white;
    border: 3px solid $black;

    .menu-icon {
      display: block;
      float: right;
      line-height: 0;
      padding: $space-small;
      text-align: center;

      > svg {
        width: $space-medium;
        height: $space-medium;

        path {
          fill: $black;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
      padding-top: $space-medium;
      list-style: none;

      li {
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: bold;

        a {
          display: block;
          color: $text-color;
          padding: $space-small $space-medium;
          transition: background-color 120ms ease-in-out;

          @include on-event {
            background-color: $brand-color;
          }
        }

        &.current a {
          background-color: $brand-color;
        }
      }
    }

    &:hover .trigger {
      display: block;
    }
  }

  @include size-medium {
    ul {
      display: block;
    }

    ul,
    ul li {
      margin: 0;
      padding: 0;
      text-indent: 0;
      list-style: none;
    }

    .site-nav {
      position: relative;
      top: 0;
      right: 0;
      border: none;

      .menu-icon {
        display: none;
      }

      .trigger {
        display: block;
        padding-top: 0;

        li {
          display: inline;
          margin-left: $space-large;
          padding: $space-small;
          text-transform: uppercase;
          font-size: 1em;
          font-weight: bold;

          a {
            display: inherit;
            padding: 4px 8px;
          }

          &.current a {
            background-color: $brand-color;
          }
        }
      }
    }

    .social-links {
      margin-left: auto;

      li {
        display: inline;
      }
    }
  }
}
