<div id="{{dropdown-id}}" class="jq-dropdown jq-dropdown-tip">
  <ul class="jq-dropdown-menu">
    {{#each years as |year| }}
      <li>{{#link-to 'event.archive.month' year month }} {{year}} {{/link-to}} </li>
    {{/each}}
  </ul>
</div>
