@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-size: 12pt;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  color: #111;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}
