@import 'jeet';
@import 'breakpoint';

@import "reset";
@import "variables";
@import "structure";
@import "typography";
@import "buttons";
@import "form";
@import "expandable-list";
@import "pod-styles";


.box {
  padding: 2em;
  margin-bottom: 1em;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;

  &.-expandable-list {
    padding: 0;
  }
}

.job-info {
  text-align: center;
  opacity: .5;
  font-size: .875rem;
}

.job-empty {
  text-align: center;
  font-size: 1.5em;
}

.event-cards {
  @include cf()
  > li {
    @include col(1, $cycle: 1);
    @include breakpoint($screen-sm-min) {
      @include col(1/3, $cycle: 3);
    }
    margin-bottom: 1em;
  }
}

.alert {
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 1em;
  padding: 0.5em;

  &.-danger {
    color: white;
    background-color: #ff4124;
    border-color: darken(#ff4124, 15%);
  }

  &.-confirm {
    color: white;
    background-color: #00b31e;
    border-color: darken(#00b31e, 15%);
  }
}
