html {
  font-size: 12pt;
}

body {
  background: #ececec url('/img/bg.png');
}

input.field, textarea.field {
  border: none!important;
  box-shadow: none!important;
  border-bottom: 1px solid #ccc!important;
  background-color: transparent;
}

form label {
  color: #999;
}

.logo {
   width: 120px;
}

.menu {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.btn:hover{
  background-color: #ccc;
}

.btn:focus {
  box-shadow: none;
}

.btn.active {
  background-color: #fa0;
  color: white;
}

.btn-primary {
  background-color: #fa0;
}

.event {
  background-color: #f5f5f5;
  box-shadow: 0 0 10px 0 #ccc
}

.font-ubuntu {
  font-family: 'Ubuntu Mono',sans-serif;
}

.event-date {
  color: #7F7F2B;
  font-size: 1.2rem;
}

.event-summary a {
  color: #c80;
}

.new-event {
  background-color: transparent;
  box-shadow: inherit;
  border: 4px dashed #474838;
}

.icon {
  height: 1.5rem;
}


@media (min-width: 700px) {

  .main-title:before {
      content: ">";
      padding-left: 5px;
      padding-right: 15px
  }
  .caret {
      border-left: 4px solid #000;
      margin-left: 15px
  }

  .blink {
      -webkit-animation-name: blinker;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: step-start;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-name: blinker;
      -moz-animation-duration: 1s;
      -moz-animation-timing-function: linear;
      -moz-animation-iteration-count: infinite;
      animation-name: blinker;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite
  }

  @-moz-keyframes blinker {
      0% {
          opacity: 1
      }

      50% {
          opacity: 0
      }

      100% {
          opacity: 1
      }
  }

  @-webkit-keyframes blinker {
      0% {
          opacity: 1
      }

      50% {
          opacity: 0
      }

      100% {
          opacity: 1
      }
  }

  @keyframes blinker {
      0% {
          opacity: 1
      }

      50% {
          opacity: 0
      }

      100% {
          opacity: 1
      }
  }
}


.caps{ letter-spacing: 0em; }
