@import 'jeet';
@import 'breakpoint';

@import "reset";
@import "variables";
@import "structure";
@import "typography";
@import "buttons";
@import "form";
@import "expandable-list";
@import "pod-styles";
@import "ember-burger-menu";

.box {
  padding: 2em;
  margin-bottom: 1em;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;

  &.-expandable-list {
    padding: 0;
  }
}

.job-info {
  text-align: center;
  opacity: .5;
  font-size: .875rem;
}

.job-empty {
  text-align: center;
  font-size: 1.5em;
}


.dropdown {
  padding: 5px;

  &:hover {
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
  }

  &:after {
    content: '↓';
    font-size: .5em;
    margin-left: 5px;
  }
}

.alert {
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 1em;
  padding: 0.5em;

  &.-danger {
    color: white;
    background-color: #ff4124;
    border-color: darken(#ff4124, 15%);
  }

  &.-confirm {
    color: white;
    background-color: #00b31e;
    border-color: darken(#00b31e, 15%);
  }
}

.monthly {
  max-width: 600px;
  margin: 0 auto;
}
