html {
  font-size: 12pt;
}

body {
  background: #ececec url('/img/bg.png');
}

input.field, textarea.field {
  border: none!important;
  box-shadow: none!important;
  border-bottom: 1px solid #ccc!important;
  background-color: transparent;
}


.py1-2 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px1-2 {
  padding-right: 0.25rem;
  padding-left: 0.5rem;
}

.p1-2 {
  padding: 0.25rem;
}

.hidden {
  display: none;
}

form label {
  color: #999;
}

.bd-black {
  border: 2px solid black;
}

.logo {
   width: 120px;
}

.menu {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.b-shadow {
  box-shadow: 0px 25px 30px 0px rgba(0,0,0,0.75);
}

nav a.active {
  font-weight: bold;
}

.btn-menu {
  border-bottom: 4px solid transparent;
  border-radius: 2px;
}

.btn-menu:hover{
  border-bottom: 4px solid #ccc;
}

.btn-menu:focus {
  outline: none;
  box-shadow: none;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.btn-menu.active {
  border-bottom: 4px solid #fa0;
}

.btn-primary {
  background-color: #fa0;
}

.btn-primary:disabled:hover {
  box-shadow: none;
}

.btn:disabled:hover {
  cursor: default;
}

.event {
  background-color: #f5f5f5;
  box-shadow: 0 0 10px 0 #ccc
}

.font-ubuntu {
  font-family: 'Ubuntu Mono',sans-serif;
}

.event-date {
  color: #7F7F2B;
}

.event-summary a {
  color: #c80;
}

.new-event {
  background-color: transparent;
  box-shadow: inherit;
  border: 4px dashed #474838;
}

.event-one-line:hover {
  background-color: #ddd;
}

.event-one-line:hover .hidden {
  display: inline;
}

.expanded {
  background-color: #D4E3BC;
}

.expanded:hover {
  background-color: #D4E3BC;
  cursor: default;
}

.icon {
  height: 1.5rem;
}

.dropdown {
    padding: 5px;
}
.dropdown:hover {
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.dropdown:after{
    content: '↓';
    font-size: 0.5em;
    margin-left: 5px;
}

@media (min-width: 700px) {

  .main-title:before {
      content: ">";
      padding-right: 5px
  }
  .caret {
      border-left: 3px solid #000;
      margin-left: 5px;
  }

  .blink {
      -webkit-animation-name: blinker;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: step-start;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-name: blinker;
      -moz-animation-duration: 1s;
      -moz-animation-timing-function: linear;
      -moz-animation-iteration-count: infinite;
      animation-name: blinker;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite
  }

  @-moz-keyframes blinker {
      0% {
          opacity: 1
      }

      50% {
          opacity: 0
      }

      100% {
          opacity: 1
      }
  }

  @-webkit-keyframes blinker {
      0% {
          opacity: 1
      }

      50% {
          opacity: 0
      }

      100% {
          opacity: 1
      }
  }

  @keyframes blinker {
      0% {
          opacity: 1
      }

      50% {
          opacity: 0
      }

      100% {
          opacity: 1
      }
  }
}


.caps{ letter-spacing: 0em; }
