.next-events-summary,
.past-events-summary {
  display: grid;
  grid-template-columns: 1fr;

  @include size-medium {
    grid-template-columns: repeat(2, 1fr);
  }

  @include size-large {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.event-summary {
  position: relative;
  justify-self: left;
  width: 100%;
  margin-bottom: $space-medium;

  @include size-medium {
    width: auto;
    max-width: 300px;
    margin-bottom: $space-large;
    justify-self: center;
  }

  @include size-large {
    justify-self: left;
  }

  h1 {
    text-align: left;
    font-size: 1.1rem;
    text-transform: uppercase;

    .date-badge {
      position: absolute;
      top: 20px;
      right: -10px;
      background-color: $brand-color;
      padding: 0 5px;
      z-index: 1;

      &.invert {
        color: $brand-color;
        background-color: $black;
      }
    }

    .reset-link {
      margin-bottom: $space-small;
      background-image: none;

      &:hover {
        background-image: none;
        padding: 0;
      }
    }

    img {
      width: 33%;
      min-width: 50px;
      max-width: 300px;
      outline: 4px solid $black;

      background-color: whitesmoke;
      transition: outline 120ms ease-in-out;

      @include size-medium {
        width: 300px;
        height: 300px;
      }
    }
    &:hover img {
      outline: 4px solid $brand-color;
    }
  }

  p {
    text-align: left;
    color: $text-color-secondary;
    font-size: 0.9rem;
  }

  hr {
    width: 30%;
    height: 2px;
    color: black;
    background-color: black;
    margin: $space-medium auto $space-large auto;
    @include size-medium {
      margin: $space-large auto $space-larger auto;
    }
  }
}
