.next-events-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-summary {
  max-width: 100%;
  text-align: center;
  margin-bottom: $space-large;

  @include size-medium {
    max-width: 300px;
  }

  @include size-large {
    max-width: 350px;
  }

  img {
    max-width: 100%;
    border: 4px solid $black;
    margin-bottom: $space-medium;

    @include size-medium {
      max-width: 300px;
    }

    @include size-large {
      max-width: 350px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  h1 {
    text-align: left;
    font-size: 1.1rem;
    text-transform: uppercase;

    &:hover {
       text-decoration: underline;
       cursor: pointer;
    }
  }

  p {
    text-align: left;
    color: $text-color-secondary;
    font-size: 0.9rem;
  }

  hr {
    width: 30%;
    height: 2px;
    color: black;
    background-color: black;
    margin: $space-large auto $space-larger auto;
  }
}
