.next-events-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-summary {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: $space-large;

  @include size-medium {
    width: 300px;
  }

  @include size-large {
    width: 350px;
  }

  img {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    transition: outline 120ms ease-in-out;

    @include size-medium {
      width: 300px;
      height: 300px;
    }

    @include size-large {
      width: 350px;
      height: 350px;
    }

    &:hover {
      outline: 4px solid $black;
    }
  }

  h1 {
    text-align: left;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  p {
    text-align: left;
    color: $text-color-secondary;
    font-size: 0.9rem;
  }

  hr {
    width: 30%;
    height: 2px;
    color: black;
    background-color: black;
    margin: $space-large auto $space-larger auto;
  }
}
