<!DOCTYPE html>
<html ng-app="Vlctechhub">
    <head>
        <meta charset="UTF-8"/>
        <title>VLC Tech Hub - El hub de los eventos tecnológicos de Valencia</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.1/pure-min.css">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/style3.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>

    <script>
        var app = angular.module('Vlctechhub', []);
        app.factory('EventsFactory', function($http){
            var baseUrl = 'http://api.vlctechhub.org/v0';
            var get = function(url) { return $http.get(baseUrl + url);}
            return {
                getUpcoming: function(){ return get('/events'); }
            };
        });
        app.controller('EventsController', function($scope, EventsFactory){
            EventsFactory.getUpcoming().success(function(data){
               $scope.events = data;
            });
        });
    </script>

    </head>
   
    <body>



<div class="main">
        <div class="header"><img style="width:30%" src="http://vlctechhub.org/img/title.png" alt="VLCTechhub" title="VLCTechhub"/></div>
        
        <div class="content" ng-controller="EventsController">
            
            <h3>Próximos eventos<span class="caret blink">&nbsp;</span></h3>

            <div id="events" class="pure-g-r">
                <div class="pure-u-1-2" ng-repeat="event in events" ng-if="events"> 
                    <div class="event">
                        <div class="title"><a href="{{event.link}}" target="_blank" title="">{{event.title}}</a></div>
                        <div class="date">{{event.date | date:'dd.MM.yy - HH:mm'}}</div>
                        <div class="summary"><p>{{event.description}}</p>
                        <div class="more">
                        <a class="pure-button" href="{{event.link}}" target="_blank">Ver más</a></div>
                        </div>
                              
                    </div>
                
                </div>

               

                <div class="pure-u-1-2">
                    <div class="event new-event">
                <div class="title"><a href="#">¿Organizas un evento?</a></div>
                <div class="date">xx.xx.xx</div>
                <div class="summary">Si organizas un <strong>evento</strong>, taller, charla o quedada informal para fomentar una comunidad o compartir información de base <strong>tecnológica</strong>. Si es un evento <strong>gratuito</strong> o de pago para cubrir costes. Si ocurre en Valencia o Castellón. Si quieres formar parte de <strong>VlcTechHub</strong> da de alta tu evento.</div>
                <div class="add-event"><a class="pure-button pure-button-primary" href="https://docs.google.com/spreadsheet/viewform?formkey=dC1oSU1qMzBZYUwxbWY2T0JUZjVvc3c6MQ#gid=0">¡Añadir mi evento!</a></div>
                </div>

                </div>
            </div> <!-- end grid future events -->


            <h3>Eventos pasados<span class="caret blink">&nbsp;</span></h3>

            <div id="events" class="pure-g-r">
                <div class="pure-u-1-2">
                    <div class="event">
                        <div class="title"><a href="https://www.eventbrite.es/e/entradas-trobatest-winter-edition-2014-8947796099" target="_blank" title="">TROBATEST WINTER EDITION 2014</a></div>
                        <div class="date">06.02.14 - 20:00</div>
                        <div class="summary"><p>El próximo jueves 06 de Febrero realizaremos nuestro cuarto evento de Networking. De nuevo os esperamos en “Birra &amp; Blues” donde nos tomaremos unas cervezas artesanales excelentes. En esta ocasión contamos con una charla interesante y práctica a cargo de nuestro compañero Tomislav que nos explicará como emplear el mind mapping al mundo de las pruebas.</p>
                        <div class="more">
                        <a class="pure-button" href="https://www.eventbrite.es/e/entradas-trobatest-winter-edition-2014-8947796099" target="_blank">Ver más</a></div>
                        </div>
                              
                    </div>
                
                </div>

                <div class="pure-u-1-2">
                
                        <div class="event">
                            <div class="title"><a href="http://www.doodle.com/9pv2trtp95i8kth8" target="_blank" title="">Orientación a objetos, Ley de Hollywood y otras cosas que se caen de linea</a></div>
                            <div class="date">07.02.14 - 19:00</div>
                            <div class="summary"><p>En Symfony Valencia este mes Carles Climent (@Carles_Climent‎ ) nos dará una charla muy interesante sobre OOP, ley de Hollywood y patrones de diseño.</p><div class="more"><a class="pure-button" href="https://www.eventbrite.es/e/entradas-trobatest-winter-edition-2014-8947796099" target="_blank">Ver más</a></div></div>
                       
                        
                        </div>
                

                </div>

                <div class="pure-u-1-2">
                        <div class="event">
                            <div class="title"><a href="http://jscoderetreat.com/city/es-valencia.html" target="_blank" title="">JavaScript Code Retreat #1</a></div>
                            <div class="date">08.02.14 - 8:30</div>
                            <div class="summary"><p>A Coderetreat is a day-long, intensive practice event, focusing on the fundamentals of software development and design. Developers can disconnect from constraints like time and feature pressure - just focus on the craft, programming. And train to become better. You don't have to ship anything. Just practice. </p>
                            <div class="more"><a class="pure-button" href="https://www.eventbrite.es/e/entradas-trobatest-winter-edition-2014-8947796099" target="_blank">Ver más</a></div></div>
                            
                        
                        </div>
                </div>
            </div>
        </div> <!-- end content -->

</div> <!-- end main -->

    
    </body>

</html>