{{section-title text="Próximos eventos"}}


<div class='clearfix'>
	<div class='right muted'>
		<p>{{#link-to 'events.upcoming.list'}}Ver listado resumen{{/link-to}}</p>
	</div>
</div>

<div id="events">
  {{#each model as |event| }}
    {{event-detail event=event}}
  {{/each}}
  {{new-event-detail}}
</div>
{{outlet}}
