{{event/section-title text="Nuevo evento"}}

<p class="muted">
Si organizas un <strong>evento</strong>, taller, charla o quedada informal para fomentar una comunidad o compartir información de base <strong>tecnológica</strong>. Si quieres formar parte de <strong>VlcTechHub</strong>, da de alta tu evento. <br/> Si organizas una conferencia y quieres darla de alta en VLCTechHub debe tener un <strong>código de conducta</strong>.
</p>

{{#if saveFailed}}
 <div class="alert -danger">
  <div class='h3'>¡Ups! Houston, tenemos un problema</div>
  <div>No hemos podido crear el evento, por favor, revisa que los datos son correctos</div>
</div>
{{/if}}

{{#if saved }}
<div class="alert -confirm">
  <div class="h3">¡Yuju! ¡Evento dado de alta!</div>
  <div>Hemos dado de alta tu evento, pero ten en cuenta que la publicación no es inmediata.</div>
</div>
{{/if}}

{{event/new-event-form event=model onSubmit=(action 'saveEvent') isSaving=isSaving}}
