
.pure-button-primary {
    background-color: #0E90D2;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: black;
    border-radius: 5px;
    &:hover {
        color:white !important;
    }
}

.button-success {
    background: @green_button;
     &:hover {
        .button_hover_color(@green_button);
        background:  @hover_color;
    }

}

.button-error {
    background: @red_button;
}

.button-warning {
     color: black !important;
    background: @yellow_button;
    &:hover {
        .button_hover_color(@yellow_button);
        background:  @hover_color !important;
    }
}

.button-secondary {
    background: @blue_button;
}
