.header {
  margin-bottom: 1em;
  @include cf();
  .event-avatar {
    @include col(1/3);
  }
  .summary {
    @include col(2/3);
    @include cf();
    .title {
      margin-bottom:1em;
      font-family: 'Helvetica Neue',Helvetica,sans-serif;
      font-size: 1.75rem;
    }
    .date {
      font-size: 1.5rem;
      color: #7F7F2B;
    }
  }
}

.description {
  margin-bottom: 1em;
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.65;
}

