{% set pageTitle = "Empleo" %}
{% set navItem = "jobs" %}

{% extends "./templates/default.njk" %}

{% block main %}
  <article id="job-board">
    <header>
      <h1 class="title"> Empleo </h1>
      <a class="button button-secondary" href="/job/new/">Publicar una oferta</a>
    </header>
    <section class="jobs">
      {% for job in collections.jobs %}
       <article class="job-detail">
       <header>
          <section class="freshness">
            {{job.publishedAt | newDate | fromNow }}
          </section>
          <section>
          <p><a href="{{job.slug}}">{{job.title}}</a></p>
          <p>{{job.companyName}}</p>
          </section>
        </header>
        <section class="tags">
          {% for tag in job.tags %}
            <span class="tag">{{tag}}</span>
          {% endfor %}
          </section>
      </article>
      {% endfor %}
    </section>
  </article>
{% endblock %}

