.button {
  padding: $space-small;
  border: 4px solid $black;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.button-primary {
    color: $white;
    background-color: $black;

    &:hover {
      color: $black;
      background-color: $brand-color;
    }
}

.button-secondary {
  color: $black;
  background-color: $white;

  &:hover {
    color: $black;
    background-color: $brand-color;
  }
}

.button-emphasis {
    color: $black;
    background-color: $brand-color;

    &:hover {
      color: $white;
      background-color: $black;
    }
}
