#event-page {
  display: grid;
  width: 100%;
  grid-template-areas: "header header header"
                       "details ruler description";
  grid-template-columns: 1fr 3rem 2fr;
  margin-bottom: $space-large * 2;

  header {
    grid-area: header;
    h1 {
      margin-bottom: $space-larger;
    }
  }

  .event-details {
    grid-area: details;
    margin-bottom: $space-medium;

    .details {
      margin: $space-larger 0;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .event-description {
    grid-area: description;
    font-size: 1.2rem;


    p:first-child {
      margin-top: 0;
    }
  }

  .ruler {
    grid-area: ruler;

    hr {
      height: 100%;
      width: 1px;
      background-color: $black;
      margin: auto;
    }
  }

  .actions button {
    display: block;
    width: 100%;
    margin: $space-medium 0;
  }
}
