{% macro image(twitterInfo, width=350, class) %}
  {% if twitterInfo.handle %}
    <img
      {% if class %} class="{{class}}" {% endif %}
      src="https://res.cloudinary.com/vlctechhub/image/twitter_name/w_{{width}}/{{twitterInfo.handle}}.jpg" />
  {% else %}
    <img
      {% if class %} class="{{class}}" {% endif %}
      src="https://dummyimage.com/{{width}}x{{width}}/ffd500/000.gif&text=%23{{twitterInfo.hashtag}}"/>
  {% endif %}
{% endmacro %}

{% macro dateBadgeClassNames(twitterInfo) %}
  {% if twitterInfo.hashtag %}
    date-badge invert
  {% else %}
    date-badge
  {% endif %}
{% endmacro %}

{% macro dateBadge(isToday, isThisWeek, twitterInfo) %}
  {% if isToday %}
    <div class="{{dateBadgeClassNames(twitterInfo)}}">Hoy</div>
  {% elif isThisWeek %}
    <div class="{{dateBadgeClassNames(twitterInfo)}}">Esta semana</div>  
  {% endif %}
{% endmacro %}

{% macro dayOfWeek(d) %}
  {{d | newDate | date('dddd') | capitalize }}
{% endmacro %}

{% macro shortDate(d) %}
  {{d | newDate | date('DD MMMM') | capitalize }}
{% endmacro %}

{% macro longDate(d) %}
  {{d | newDate | date('dddd DD [de] MMMM') | capitalize }}
{% endmacro %}

{% macro shortCompleteDate(d) %}
  {{d | newDate | date('DD MMMM YYYY') | capitalize }}
{% endmacro %}

{% macro longCompleteDate(d) %}
  {{d | newDate | date('dddd DD [de] MMMM [de] YYYY') | capitalize }}
{% endmacro %}

{% macro time(d) %}
  {{d | newDate | date('tz', 'Europe/Madrid') | date('HH:mm')}}h
{% endmacro %}

{% macro googleCalendarLink(title, link, startDate) %}
  https://www.google.com/calendar/event?action=TEMPLATE&text={{title | urlencode}}&details={{link | urlencode}}&dates={{startDate}}/{{ startDate | newDate | date("add", 1, "hours") | date}}
{% endmacro %}


