{% macro textInput(name, label, required, hint) %}
  {{_input("text", name, label, required, hint)}}
{% endmacro %}

{% macro emailInput(name, label, required, hint) %}
  {{_input("email", name, label, required, hint)}}
{% endmacro %}

{% macro timeInput(name, label, required, hint) %}
  {{_input("time", name, label, required, hint)}}
{% endmacro %}

{% macro dateInput(name, label, required, hint) %}
  {{_input("date", name, label, required, hint, '(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))')}}
{% endmacro %}

{% macro textArea(name, label, required, hint, linkHint, link) %}
  <p>
    <label for="{{name}}">
      {{label}}
      {% if required %}
        <abbr title="Campo obligatorio">*</abbr>
      {% endif %}
    </label>
    <textarea id="{{name}}" name="{{name}}" rows=10 {% if required %}required{% endif %}></textarea>
    {% if hint %}
      <span class="hint">{{hint}}</span>
    {% endif %}
    {% if linkHint %}
      <span class="hint">{% if link %}<a href="{{link}}" target="_blank" rel="noopener noreferrer" >{{linkHint}}</a>{% endif %}</span>
    {% endif %}
    <span class="error"></span>
  </p>
{% endmacro %}

{% macro _input(type, name, label, required, hint, pattern) %}
  <p>
    <label for="{{name}}">
      <span>{{label}}</span>
      {% if required %}
        <abbr title="Campo obligatorio">*</abbr>
      {% endif %}
    </label>
    <input id="{{name}}" name="{{name}}" type="{{type}}" {% if required %}required{% endif %} {% if pattern %}pattern="{{pattern}}"{% endif %}></input>
    {% if hint %}
      <span class="hint">{{hint}}</span>
    {% endif %}
    <span class="error"></span>
  </p>
{% endmacro %}


