{% macro textInput(name, label, required, hint) %}
  {{_input("text", name, label, required, hint)}}
{% endmacro %}

{% macro timeInput(name, label, required, hint) %}
  {{_input("time", name, label, required, hint)}}
{% endmacro %}

{% macro dateInput(name, label, required, hint) %}
  {{_input("date", name, label, required, hint)}}
{% endmacro %}

{% macro textArea(name, label, required, hint) %}
  <p>
    <label for="{{name}}">
      {{label}}
      {% if required %}
        <abbr title="Campo obligatorio">*</abbr>
      {% endif %}
    </label>
    <textarea id="{{name}}" name="{{name}}" rows=10 {%if required %}required{%endif%}></textarea>
    {% if hint %}
      <span class="hint">{{hint}}</span>
    {% endif %}
    <span class="error"></span>
  </p>
{% endmacro %}

{% macro _input(type, name, label, required, hint) %}
  <p>
    <label for="{{name}}">
      <span>{{label}}</span>
      {% if required %}
        <abbr title="Campo obligatorio">*</abbr>
      {% endif %}
    </label>
    <input id="{{name}}" name="{{name}}" type="{{type}}" {%if required %}required{%endif%}></input>
    {% if hint %}
      <span class="hint">{{hint}}</span>
    {% endif %}
    <span class="error"></span>
  </p>
{% endmacro %}


