& {
  height: 400px;
}

.avatar {
  text-align: center;
}

.date {
  color: #7F7F2B;
}

.title a {
  font-family: 'Open Sans',sans-serif;
  font-size: 22px;
  font-weight: 100;
  line-height: 1.65;
  color: #000;
}
