{% set navItems = [
  {name: 'Agenda', uri: '/', id:'events'},
  {name: 'Empleo', uri: '/jobs/',id:'jobs'},
  {name: 'Comunidades', uri: '/comunidades/', id:'communities'}
]
%}

<ul>
  {% for item in navItems %}
    <li class="menu-item menu-item-{{ item.id }}{% if navItem == item.id %} menu-item-current{% endif %}"
    >
      <a href="{{item.uri}}">{{ item.name }}</a>
    </li>
  {% endfor %}
</ul>
