{{event/section-title text="Empleo"}}

{{#if jobs}}
  <div class="new-item-link">
    <a href="https://vlctechhub.typeform.com/to/iYKS7g" class="button -primary right" target='_blank'>Da de alta una oferta</a>
  </div>

  <div class="box -expandable-list">
  {{#each jobs as |job|}}
    {{job/job-row item=job selectedItem=selected expandAction='expand' collapseAction='collapse'}}
  {{/each}}
  </div>
  <p class='job-info'>
   ~ Ofertas publicadas en los últimos 30 días ~
  </p>
{{else}}
  <div class="job-empty">
    <p>¿Estás buscando perfiles técnicos para tu empresa?</p>
    <a href="https://vlctechhub.typeform.com/to/iYKS7g" class="button -primary"  target='_blank'>Da de alta una oferta</a>
  </div>
{{/if}}
