{{event/section-title text="Empleo"}}

{{#if jobs}}
  <div class="new-item-link">
    {{#link-to 'job.new' class='button -primary right'}}Da de alta una oferta{{/link-to}}
  </div>

  <div class="box -expandable-list">
  {{#each jobs as |job|}}
    {{job/job-row item=job selectedItem=selected expandAction='expand' collapseAction='collapse'}}
  {{/each}}
  </div>
  <p class='job-info'>
   ~ Ofertas publicadas en los últimos 30 días ~
  </p>
{{else}}
  <div class="job-empty">
    <p>¿Estás buscando perfiles técnicos para tu empresa?</p>
    {{#link-to 'job.new' class='button -primary'}}Da de alta una oferta{{/link-to}}
  </div>
{{/if}}
