<div class="site">
  <header class="menu -mobile">
  <div class="logo">
    <img src="/img/title.png" alt="VLCTechhub" title="VLCTechhub"/>
  </div>
  <div class="hamburger">
    <a  href='#'  {{action "toggleMobileMenu"}}>
      <img src="/img/icon-menu.png"/>
    </a>
  </div>
  </header>
  {{#if mobileMenuExpanded}}
    <nav class="menu-options -mobile">
    <ul>
      <li>{{#link-to 'event.upcoming' classNames='black'}} Próximos {{/link-to}}</li>
      <li>{{#link-to 'event.archive' classNames='black'}} Archivo {{/link-to}}</li>
      <li>{{#link-to 'job.list' classNames='black'}} Empleo <span class="label -danger">{{ totalJobs }}</span> {{/link-to}}</li>
    </ul>
    </nav>
  {{/if}}

  <header class="menu -desktop">
  <div class="logo">
    {{#link-to 'index' classNames=''}}
      <img src="/img/title.png" alt="VLCTechhub" title="VLCTechhub" />
    {{/link-to}}
  </div>
  <div class="options">
    {{#link-to 'event.upcoming' classNames='button -menu'}} Próximos {{/link-to}}
    {{#link-to 'event.archive' classNames='button -menu'}} Archivo {{/link-to}}
    {{#link-to 'job.list' classNames='button -menu'}} Empleo <span class="label -danger"> {{ totalJobs }} </span> {{/link-to}}
  </div>
  </header>

  <main>
    <div class="container">
    {{outlet}}
    </div>
  </main>

  <footer class="footer">
  <div class="container">
    <div class="grid">
      <ul>
        <li class="list-header">Eventos</li>
        <li class="list-item">
        {{#link-to 'event.upcoming'}} Próximos eventos {{/link-to}}
        </li>
        <li class="list-item">
        {{#link-to 'event.new'}} Publicar evento {{/link-to}}
        </li>
        <li class="list-item">
        <a href="https://chrome.google.com/webstore/detail/vlctechhub-publisher-addo/jmphppchcbgfglglfbemgbjligclmcmc">Chrome extension</a>
        </li>
      </ul>
      <ul>
        <li class="list-header">Ofertas de trabajo</li>
        <li class="list-item">
        {{#link-to 'job.list'}} Ofertas activas {{/link-to}}
        </li>
        <li class="list-item">
          {{#link-to 'job.new'}} Publicar oferta {{/link-to}}
        </li>
      </ul>
      <ul>
        <li class="list-header">Social</li>
        <li class="list-item">
        <a href="https://twitter.com/VLCTechHub">Twitter</a>
        </li>
        <li class="list-item">
        <a href="https://groups.google.com/forum/?hl=es#!forum/vlctechhub">Google group</a>
        </li>
        <li class="list-item">
        <a href="https://valencia-devs.herokuapp.com/">Slack</a>
        </li>
      </ul>
      <ul>
        <li class="list-header">Contacto</li>
        <li class="list-item">
        <a href="https://github.com/VLCTechHub/">Github</a>
        </li>
        <li class="list-item">
        <a href="mailto:hola@vlctechhub.org">Mail</a>
        </li>
      </ul>
    </div>
  </div>
  </footer>
</div>
