<div class="flex flex-column" style="min-height:100vh">
  <div class="menu relative md-hide">
    <div class="clearfix">
      <img src="img/title.png" alt="VLCTechhub" title="VLCTechhub" class="px2" style="height:64px"/>
      <a class="right bg-white p2" href='#' style="width:32px" {{action "toggleMobileMenu"}}>
        <img src="img/icon-menu.png"/>
      </a>
    </div>
  </div>
  {{#if mobileMenuExpanded}}
  <div class="absolute z1 col-12 b-shadow md-hide">
    <nav>
      <ul class="list-reset mb0">
        <li class="bg-white p2 center border">{{#link-to 'event.upcoming' classNames='black'}} Pr칩ximos {{/link-to}}</li>
        <li class="bg-white p2 center border">{{#link-to 'event.archive' classNames='black'}} Archivo {{/link-to}}</li>
        <li class="bg-white p2 center border">{{#link-to 'event.new' classNames='black'}} A침adir evento {{/link-to}}</li>
      </ul>
    </nav>
    </div>
  {{/if}}

  <div class="menu md-show">
    <div class="container clearfix">
      <div class="col col-2 mt1">
        {{#link-to 'index' classNames=''}}
          <img src="img/title.png" alt="VLCTechhub" title="VLCTechhub" class="logo py1 mr2"/>
        {{/link-to}}
      </div>
      <div class="sm-col sm-col-4 mt3">
        {{#link-to 'event.upcoming' classNames='btn btn-menu ml1'}} Pr칩ximos {{/link-to}}
        {{#link-to 'event.archive' classNames='btn btn-menu'}} Archivo {{/link-to}}
        {{#link-to 'job.list' classNames='btn btn-menu'}} Empleo {{/link-to}}
      </div>
      <div class="sm-col sm-col-6 mt3 md-show">
        <div class='right'>
          {{#link-to 'event.new' classNames='btn btn-menu'}} A침adir evento {{/link-to}}
        </div>
      </div>
    </div>
  </div>

  <div class="main flex-auto mb4">
    <div class="container px2 sm-px3">
      {{outlet}}
    </div>
  </div>

  <div class="py2 center bg-navy">
    <div class="container px2 py2">
    <ul class="list-reset">
      <li class="inline-block">
        <a href="https://twitter.com/VLCTechHub" class="p2 silver">Twitter</a>
      </li>
      <li class="inline-block">
        <a href="https://valencia-devs.herokuapp.com/" class="p2 silver">Slack</a>
      </li>
      <li class="inline-block">
        <a href="https://groups.google.com/forum/?hl=es#!forum/vlctechhub" class="md-show p2 silver">Google group</a>
      </li>
      <li class="inline-block">
        <a href="https://chrome.google.com/webstore/detail/vlctechhub-publisher-addo/jmphppchcbgfglglfbemgbjligclmcmc" class="md-show p2 silver">Chrome extension</a>
      </li>
      <li class="inline-block">
        <a href="mailto:vlctechhub@gmail.com" class="p2 silver">Contacto</a>
      </li>
    </ul>
    </div>
  </div>
</div>
