---
robots: "noindex, follow"
permalink: false
---
{% set pageTitle = "404 Página no encontrada" %}

{% extends "./templates/default.njk" %}

{% block main %}
  <div class="error-container">
    <span class="e404">404</span>
    <p class="complement">Oh no! No hemos podido encontrar la página que has pedido, pero no te vayas sin descubrir los <a href="/">eventos</a> de la agenda local o las últimas <a href="/job/board/">ofertas de trabajo</a> publicadas.</p>
  </div>
{% endblock %}
