---
datasource: 'datasources/communities.yaml'
permalink: false
---
{% set pageTitle = "Comunidades" %}
{% set navItem = "communities" %}

{% extends "./templates/default.njk" %}

{% block main %}
  <article id="communities">
    <header>
      <div class="header-contain-left">
        <h1 class="title"> Comunidades </h1>
        </span>
      </div>
    </header>
    <section class="communities-summary">
      {% for community in datasource %}
       <article class="community-summary">
       <h1>
        {{ community.title }}
        </h1>
        <h2>
        {{ community.description }}
        </h2>
        <p>
          {{ community.twitter }} |
          {{ community.meetup }} |
          {{ community.web }}
          </p>
        <p>
          {% for tag in community.tags %}
            {{ tag }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </p>
        <hr>
      </article>
      {% endfor %}
    </section>
  </article>
{% endblock %}
