{% set pageTitle = "Agenda" %}
{% set navItem = "events" %}

{% extends "./templates/default.njk" %}
{% from "./templates/macros/event.njk" import image, dayOfWeek, time, shortDate %}

{% block main %}
  <article id="next-events">
    <header>
      <h1 class="title"> Agenda </h1>
      <a class="button button-secondary" href="/events/new/">Publicar un evento</a>
    </header>
    <section class="next-events-summary">
      {% for upcomingEvent in collections.upcomingEvents %}
       <article class="event-summary">
       <h1>
        <a href="events/{{upcomingEvent.slug}}">
          <section class="reset-link">{{image(upcomingEvent.twitter)}}</section>
          {{upcomingEvent.title}}
        </a>
        </h1>
        <p>
          {{ dayOfWeek(upcomingEvent.startDate) }} /
          {{ shortDate(upcomingEvent.startDate) }} /
          {{ time(upcomingEvent.startDate) }}
          </p>
        <hr>
      </article>
      {% endfor %}
    </section>
  </article>
{% endblock %}
