{% set navItem = "events" %}

{% extends "templates/pages/default.njk" %}

{% block main %}
  <article class="next-events">
    <header>
      <h1 class="title"> Agenda </h1>
    </header>
    <section class="next-events-summary">
      <article class="event-summary">
        <img src="https://res.cloudinary.com/vlctechhub/image/twitter_name/w_350/WCValencia.jpg"></img>
        <h1>Estrategía IT en las administraciones públicas</h1>
        <p>Jueves / 19 Mayo / 9:00h</p>
        <hr>
      </article>
      <article class="event-summary">
        <img src="https://res.cloudinary.com/vlctechhub/image/twitter_name/w_350/WCValencia.jpg"></img>
        <h1>Estrategía IT en las administraciones públicas</h1>
        <p>Jueves / 19 Mayo / 9:00h</p>
        <hr>
      </article>
      <article class="event-summary">
        <img src="https://res.cloudinary.com/vlctechhub/image/twitter_name/w_350/WCValencia.jpg"></img>
        <h1>Estrategía IT en las administraciones públicas</h1>
        <p>Jueves / 19 Mayo / 9:00h</p>
        <hr>
      </article>
      <article class="event-summary">
        <img src="https://res.cloudinary.com/vlctechhub/image/twitter_name/w_350/WCValencia.jpg"></img>
        <h1>Estrategía IT en las administraciones públicas</h1>
        <p>Jueves / 19 Mayo / 9:00h</p>
        <hr>
      </article>
       <article class="event-summary">
        <img src="https://res.cloudinary.com/vlctechhub/image/twitter_name/w_350/WCValencia.jpg"></img>
        <h1>Estrategía IT en las administraciones públicas</h1>
        <p>Jueves / 19 Mayo / 9:00h</p>
        <hr>
      </article>
      <article class="event-summary">
        <img src="https://res.cloudinary.com/vlctechhub/image/twitter_name/w_350/WCValencia.jpg"></img>
        <h1>Estrategía IT en las administraciones públicas</h1>
        <p>Jueves / 19 Mayo / 9:00h</p>
        <hr>
      </article>
    </section>
  </article>
{% endblock %}
