<!DOCTYPE html>
<html>
  <head>
    <title>Guía de estilo | VLCTechHub</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <section id="main-section">
        {% block main %}
          This is the default content for body.
        {% endblock %}
      </section>
  </body>
</html>
