<!DOCTYPE html>
<html>
  <head>
    <title>{{seo.ogTitle}}</title>
    <meta charset="utf-8"/>
    <meta name="description" content="{{seo.ogDescription | truncate(300) }}"/>
    <meta name="og:title" content="{{seo.ogTitle}}"/>
    <meta name="og:description" content="{{seo.ogDescription | truncate(300) }}"/>
    <meta name="og:url" content="{{seo.ogUrl}}"/>
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    {% include "./layout/header.njk" %}
     <main>
        <section class="container">
          {% block main %}
            This is the default content for body. It should be overriden.
          {% endblock %}
        </section>
      </main>
      {% block footer %}
        {% include "./layout/footer.njk" %}
      {% endblock %}
      {% include './partials/footer-scripts.njk' %}
  </body>
</html>
