<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {% include "./layout/header.njk" %}
     <main>
        <section class="container">
          {% block main %}
            boton
            h1 class=title
            ul / li / article / section / h1 , image, p  (flex)


            //detalle de evento, con grid, grid-template
            'info desc'
            'mapa desc'

            //mobil
            'info'
            'desc'
            'mapa'

            This is the default content for body.
            {% endblock %}
        </section>
      </main>
      {% block footer %}
        {% include "./layout/footer.njk" %}
      {% endblock %}
  </body>
</html>
