{% extends "./default.njk" %}

{% block main %}
  <article id="event-page">
    <header><h1>{{title}}</h1></header>
    <section class="event-details"></section>
    <section class="event-description">
      {{contents | safe}}
    </section>
  </article>
{% endblock %}
