{% extends "./default.njk" %}

{% block main %}
  <article id="job-page">
    <header><h1>{{title}}</h1></header>
    <section class="job-description">
      {{contents | safe}}
    </section>
  </article>
{% endblock %}
