{% extends "./default.njk" %}
{% from "./macros/event.njk" import image, longCompleteDate, time %}

{% block main %}
  <article id="event-page">
  <header>
    <h1>{{title}}</h1>
    <p>{{longCompleteDate(startDate)}} | {{time(startDate)}}</p>
  </header>
    <section class="event-details">
      {{ image(twitter) }}
      <section class="details">
      <p>{{longCompleteDate(startDate)}}</p>
      <p>{{time(startDate)}}</p>
      </section>
      <section class="actions">
      <a href="{{sourceUrl}}" class="button button-primary">Ver fuente</a>
      </section>
    </section>
    <section class="event-description">
      {{contents | safe}}
    </section>
  </article>
{% endblock %}
