<h3>Próximos eventos<span class="caret blink">&nbsp;</span></h3>
<div id="events" class="pure-g-r">
  {{#each model as |event| }}
    {{event-detail event=event}}
  {{/each}}
  {{new-event-detail}}
</div>
{{outlet}}
