.main-footer {
  margin-bottom: $space-large;

  .footer-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  hr {
    width: 85%;
    height: 2px;
    background-color: black;
    margin-bottom: $space-larger;
  }

  h1 {
    font-size: 1em;
    color: $brand-color;
    font-weight: bold;
    margin-bottom: $space-medium;
  }

  ul,
  ul li {
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style: none;
  }

  ul li {
    margin-bottom: $space-small;
  }
}
