.main-header {
  display: flex;
  padding: $space-medium $space-large $space-medium $space-large;
  align-items: center;

  .logo img {
    max-height: 50px;
  }

  ul,
  ul li {
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style: none;
  }

  nav ul li {
    display: inline;
    margin-left: $space-large;
    text-transform: uppercase;

    &.current {
      background-color: $brand-color;
      padding: 0 $space-small 0 $space-small;
    }
  }

  .social-links {
    margin-left: auto;

    li {
      display: inline;
    }
  }
}
