<div class="event new-event mb2 p3">
  <div class="event-title h1 font-ubuntu py1 caps"><a href="#" class="black">¿Organizas un evento?</a></div>
  <div class="event-date hide">xx.xx.xx</div>
  <div class="event-summary"><p>Si organizas un <strong>evento</strong>, taller, charla o quedada informal para fomentar una comunidad o compartir información de base <strong>tecnológica</strong>. Si es un evento <strong>gratuito</strong> o de pago para cubrir costes. Si ocurre en Valencia o Castellón. Si quieres formar parte de <strong>VlcTechHub</strong> da de alta tu evento.</p></div>
  {{#link-to 'event.new' classNames="btn btn-primary"}}Añadir evento {{/link-to}}
</div>
