{{event/section-title text="Próximos eventos"}}

<div class="new-item-link">
  {{#link-to 'event.new' classNames='button -primary'}} Da de alta un evento {{/link-to}}
</div>


<ul class="event-cards">
  {{#each model as |event|}}
    <li>{{event/event-card event=event}}</li>
  {{/each}}
</ul>
