{{event/section-title text="Próximos eventos"}}


<div class="button-ribbon">
  <div class="button-ribbon-item">
    {{#link-to 'event.upcoming'
      (query-params view='list')
      classNames='button -submenu'}}
      Listado
    {{/link-to}}
     |
    {{#link-to 'event.upcoming'
      (query-params view='calendar')
      classNames='button -submenu'}}
      Calendario
    {{/link-to}}
  </div>

  <div class="button-ribbon-item">
    {{#link-to 'event.new' classNames='button -primary'}}
      Da de alta un evento
    {{/link-to}}
  </div>
</div>

{{event/event-list
  events=model
  isVisible=isListVisible
}}

{{event/event-calendar
  events=model
  isVisible=isCalendarVisible
}}

