{{event/section-title text="Próximos eventos"}}

<div class="event mb2">
  {{#each model as |event| }}
    {{event/event-row event=event selected=selected expandAction='expand' collapseAction='collapse'}}
  {{/each}}
</div>
