{{event/section-title text="Próximos eventos"}}

<div class="new-item-link">
  {{#link-to 'event.new' classNames='button -primary'}} Da de alta un evento {{/link-to}}
</div>


<div class="container">
  <div class="clearfix">
    {{#each model as |event|}}
      {{event/event-card event=event}}
    {{/each}}
  </div>
</div>
