<p>Una tarde de presentaciones acerca de temáticas relacionadas con la agilidad de la mano de Erich Bühler, Matthieu Tournemire, Vanesa Tejada y Raúl Herranz.</p>
<p>Serán cuatro conferencias de menos de una hora sobre:</p>
<ul>
<li>Herramientas para equipos ultraproductivos</li>
<li>Métricas de avance de agilidad y anti-patrones</li>
<li>Preparación para un Product Owner</li>
<li>Lanzamento de un proyecto Ágil, etc...</li>
</ul>
<p>También contaremos con una sesión de clínica Scrum para poder conversar cara a cara con los ponentes sobre problemáticas concretas.</p>
<p>La asistencia al evento tiene un precio de 20€ que serán donados íntegramente a una organización caritativa. </p>
