<footer class="main-footer">
  <section class="footer-content">
    <section>
      <h1>Eventos</h1>
      <ul>
        <li><a href="/">Próximos eventos</a></li>
        <li><a href="/events/past/">Eventos pasados</a></li>
        <li><a href="/events/new/">Publicar evento</a></li>
        <li><a href="https://addons.mozilla.org/en-US/firefox/addon/vlctechhub-publisher-addon/">Firefox extension</a>
        <li><a href="https://chrome.google.com/webstore/detail/vlctechhub-publisher-addo/jmphppchcbgfglglfbemgbjligclmcmc">Chrome extension</a></li>
      </ul>
    </section>

    <section>
      <h1>Ofertas de trabajo</h1>
      <ul>
        <li><a href="/job/board/">Ofertas activas</a></li>
        <li><a href="/job/new/">Publicar ofertas</a></li>
      </ul>
    </section>

    <section>
      <h1>Social</h1>
      <ul>
        <li><a href="https://twitter.com/VLCTechHub">Twitter</a></li>
        <li><a href="https://slack.vlctechhub.org/">Slack</a></li>
      </ul>
    </section>

    <section>
      <h1>Contacto</h1>
      <ul>
        <li><a href="https://github.com/VLCTechHub/">Github</a></li>
        <li><a href="mailto:hola@vlctechhub.org">Mail</a></li>
        <li><a href="/communities">Comunidades</a></li>
      </ul>
    </section>
  </section>
</footer>
