<footer class="main-footer">
  <hr>
  <section class="footer-content">
    <section>
      <h1>Eventos</h1>
      <ul>
        <li>Próximos eventos</li>
        <li>Eventos anteriores</li>
        <li>Publicar evento</li>
        <li>Chrome extension</li>
      </ul>
    </section>

    <section>
      <h1>Ofertas de trabajo</h1>
      <ul>
        <li>Ofertas activas</li>
        <li>Publicar ofertas</li>
      </ul>
    </section>

    <section>
      <h1>Social</h1>
      <ul>
        <li>Twitter</li>
        <li>Slack</li>
      </ul>
    </section>

    <section>
      <h1>Contacto</h1>
      <ul>
        <li>Github</li>
        <li>Mail</li>
      </ul>
    </section>
  </section>
</footer>
