<header class="main-header">
  <a href="/" class="logo">
    <img src="/assets/img/vlctechhub.png" alt="VLCTechHub">
  </a>

  {% block nav %}
    {% include "./nav.njk" %}
  {% endblock %}

  <ul class="social-links">
  </ul>
</header>
