<header class="main-header">
  <a href="/" class="logo">
    <img src="https://vlctechhub.org/img/title-b76dda3b12b976eba18d17b6d0c9b038.png" alt="VLCTechHub">
  </a>
  <nav>
    {% block nav %}
      {% include "./nav.njk" %}
    {% endblock %}
  </nav>
  <ul class="social-links">
   <li> tuiter </li>
   <li> slack </li>
  </ul>
</header>
