<header class="main-header">
  <a href="/" class="logo">
    <img src="/assets/img/vlctechhub.png" alt="VLCTechHub">
  </a>
  <nav>
    {% block nav %}
      {% include "./nav.njk" %}
    {% endblock %}
  </nav>
  <ul class="social-links">
  </ul>
</header>
